[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community Edition
Icon=/opt/JetBrains/idea-IC-{{ jetbrains.java.build }}/bin/idea.png
Exec="/opt/JetBrains/idea-IC-{{ jetbrains.java.build }}/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-intellij
